@import "./mixins/breakpoint";

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(243, 209, 174);
    height: 100vh;
}

.error {
    text-align: center;
    color: rgb(248, 108, 53);
    margin-bottom: 5px;
    display: none;
}

.visibility-hide {
    display: none;
}

.visibility-show {
    display: block;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;

    @include small-tablet {
        align-items: normal;
        justify-content: normal;
        padding-top: 20px;
    }
}

.weath-wrapper {
    width: 100%;

    @include small-tablet {
        height: 100%;
        border: 1px solid black;
    }
}

.weath__inner {
    padding: 10px;
    width: 620px;
    background-color: rgb(250, 235, 219);
    -webkit-box-shadow: 1px -1px 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px -1px 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 1px -1px 8px 4px rgba(34, 60, 80, 0.2);
    align-items: center;
    justify-content: center;

    @include small-tablet {
        border-bottom: 1px solid black;
        height: 120%;
        margin: 0 auto;
    }
}

.weather-wrapper {
    grid-template-columns: repeat(6, 1fr);

    @include small-tablet {
        grid-template-columns: repeat(2, 1fr);
    }
}

.border {
    border: 1px solid black;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;

    @include small-tablet {
        border: none;
        border-bottom: 1px solid black;
    }

    &__input-text {
        width: 100%;
        padding-left: 10px;
        height: 35px;
        background-color: inherit;
    }

    &__search {
        background: url('../images/search.svg') no-repeat scroll;
        background-size: 15px;
        padding-right: 30px;
        cursor: pointer;
        background-position-x: center;
        background-position-y: center;
        opacity: 0.5;
        transition: opacity .3s ease;
        border-radius: 50%;
        height: 30px;

        &:hover {
            opacity: 1;
        }

        &:focus {
            background-color: rgb(192, 191, 190);
        }

        &:active {
            background-color: rgb(228, 227, 226);
            opacity: 1;
        }
    }
}

.weather {
    grid-column: 3 span;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding-bottom: 3px;

    @include small-tablet {
        border: none;
        border-bottom: 1px solid black;
    }

    &__main-indications {
        align-items: center;
        justify-content: center;
        align-self: start;
        padding-left: 10px;
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;

        @include small-tablet {
            align-items: center;
        }
    }

    &__value {
        width: 100%;
        font-size: 70px;

        @include small-tablet {
            font-size: 60px;
        }
    }

    &__city {
        font-size: 24px;

        @include small-tablet {
            font-size: 30px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 50%;
        flex-direction: column;
        gap: 5px;

        &-add {
            border-radius: 10px;
            border: 1px solid red;
            padding: 3px 8px;
        }

        & svg {
            @include small-tablet {
                width: 50px;
                height: 50px;
            }
        }

        &:hover {
            & svg path {
                fill: red;
                stroke: red;
            }
        }

        &:active {
            background-color: rgb(204, 204, 204);
        }
    }

    &__description {
        padding-left: 15px;
        align-self: flex-start;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-size: 15px;
        opacity: 0.6;

        @include small-tablet {
            font-size: 20px;
        }
    }
}

.extra-values {
    align-self: flex-start;
    padding-left: 15px;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.temp {
    border-top: 1px solid #050000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 span;
}

.time-temperature {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;

    &__list {
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        justify-content: space-between;
        border-bottom: 1px solid rgb(248, 117, 117);

        &:last-child {
            border-bottom: none;
        }
    }

    &__main-values {
        flex-direction: column;
        gap: 5px;
        padding-bottom: 5px;
    }

    &__time {
        margin-bottom: 5px;
    }

    & span {
        &:last-child {
            margin-bottom: none;
        }
    }
}

.locations {
    grid-column: 3 span;
    grid-template-rows: 85px 1fr;
    border-left: none;

    @include small-tablet {
        border: none;
    }

    &__list {
        padding-left: 25px;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        overflow-y: auto;
        height: 204px;

        @include small-tablet {
            padding-left: 10%;
            overflow-y: auto;
            height: 150px;
        }
    }

    &__list-item {
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid #f9adad;
        max-width: 170px;
        transition: color 0.3s ease;
        position: relative;
        font-size: 18px;

        @include small-tablet {
            max-width: 80%;
        }

        &:hover {
            color: #f8a9a9;
        }

        &:active {
            color: #f8a9a9;
        }
    }

    &__list-item-city {
        padding-right: 50%;

        @include small-tablet {
            font-size: 20px;
        }
    }
}

.btn-delete {
    position: absolute;
    top: -4px;
    z-index: 5;
    right: -3px;
    color: rgb(248, 108, 53);
    padding: 3px;
    transition: all 0.3s ease;
    border-radius: 3px;

    &:hover .locations__list-item {
        color: rgb(20, 20, 20);
    }

    &:hover {
        background-color: #fff;
    }

    &:active {
        background-color: #fff;
    }
}

.title {
    &__title {
        padding: 25px;
        display: flex;
        align-items: center;
        border-left: none;
        border-top: none;
        border-right: none;

        @include small-tablet {
            display: block;
            font-size: 18px;
            text-align: center;
            text-decoration: underline;
        }
    }
}